{% extends "_base.html" %}

{% block TITLE %}
morishitter
{% endblock %}
{% block content %}

<br><br>


<form  method="POST" action="">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="textarea">Tweet here</label>
      <div class="controls">
        <textarea class="input-xlarge" id="textarea" rows="5" cols="10" name="tweet">{% if reply %}@{{reply}} {% endif %}</textarea>
      </div>
    </div>
      <button type="submit" class="btn btn-primary"> Tweet </button>
  </fieldset>
</form>
<br><br>

{% for val in mention %}


<a href="user/{{val.user.screen_name}}"><IMG SRC="{{val.user.profile_image_url}}" ALT="icon" WIDTH="50" HEIGHT="50"></a> <a href="user/{{val.user.screen_name}}">@{{val.user.screen_name}}</a> : {{val.text}}<br>
  <p><small>{{val.created_at}}<small></p>

<form  method="POST" action="mention.php">
  <div class="form-actions">
    <input type="hidden" name="reply_fav" value="{{val.id_str}}">
    <button class="btn" name="reply" value="{{val.user.screen_name}}">Reply</button>
    <button class="btn btn-warning" name="fav" value="{{val.id_str}}">★ </button>
    <button class="btn btn-info" name="RT" value="{{val.id_str}}">RT</button>
  </div>
</form>



{% endfor %}

<br><br><br>

{% endblock %}
